@CHARSET "UTF-8";

#Titre
{
	font-size: 5em;
	color: white;
}

#connexion {
	width: 400px;
	margin: 100px auto auto auto;
	padding: 30px 30px 30px 30px;
	background-color: white;
	border-radius: 15px;
}

#erreur {
	color: red;
	text-align: center;
	background-color: rgba(255,0,0,0.3);
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 30px;
	margin-top: -10px;
}

#connexion input[type="text"], input[type="password"]{
	width: 91%;
	background: white;
	margin-bottom: 4%;
	border: 2px solid silver;
	border-radius: 5px;
	padding: 4%;
	font-size: 100%;
	color: black;
}

#connexion input[type="text"]:focus, #connexion input[type="password"]:focus{
	border: 2px solid #0064C8;
}

#connexion input[type="submit"]{
	width: 100%;
	background: #0096FF;
	border: 2px solid #0064C8;
	border-radius: 5px;
	padding: 4%;
	font-size: 150%;
	font-weight: 500;
	color: white;
	cursor: pointer;
}

#connexion input[type="submit"]:hover{
	background-image:linear-gradient(#0064C8, #0096FF);
}