@charset "UTF-8";

.night-tabs a,
.night-tabs div,
.night-tabs em,
.night-tabs img,
.night-tabs ul,
.night-tabs label,
.night-tabs li,
.night-tabs ol,
.night-tabs p,
.night-tabs span,
.night-tabs ul {
    /* ->>> Structure <<<-*/
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    background: 0 0;
    /* Colors */
    box-sizing: border-box
    /* CSS3 */
}

.night-tabs {
    /* ->>> Structure <<<-*/
    margin: 0 auto;
    /* Center Night Tabs; optional. */
    width: 70%;
    /* Define width. */
    font: 300 0px/1.5"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* Typography */
    color: #ecf0f1
    /* Colors */
}
.night-tabs .fa {
    margin-right: .5em
}
.night-tabs input {
    display: none
}
/* Hide Checkbox. */

.night-tabs input:checked+label {
    cursor: default
}
/* Set cursor type. */

.night-tabs label {
    /* ->>> Structure <<<-*/
    display: inline-block;
    z-index: 1;
    border-bottom: 2px solid #353535;
    border-right: 1px solid #444;
    border-left: 1px solid #222;
    /* ->>> Typography <<<-*/
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    text-align: left;
    /* ->>> CSS3 <<<-*/
    /* ->>> Prevents double-click selection. <<<-*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}
.night-tabs label span {
    display: block;
    padding: .2em;
    background: #404040
}
.night-tabs label span span {
    /* Structure */
    border: 2px solid transparent;
    padding: 0 1em;
    /* CSS3*/
    -webkit-transition: background .4s;
    transition: background .4s
}
/*------------------------------------*\
    #TAB CONTENT
\*------------------------------------*/

.night-tabs .night-tabs-content {
    display: block;
    /* Structure */
    font-size: 18px
    /* Typography */
}
.night-tabs .night-tabs-content > li {
    /* Structure */
    left: 0;
    opacity: 0;
    overflow: auto;
    padding: 1em 1.5em;
    /* ->>> Spacing for content. <<<-*/
    position: absolute;
    text-align: left;
    top: 0;
    visibility: hidden;
    width: 100%;
    background: #404040;
    /* Colors */
    /* CSS3 */
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all .8s .1s;
    /* ->>> Intensity of tab effects. <<<-*/
    transition: all .8s .1s
}


/*------------------------------------*\
    #COLORS
\*------------------------------------*/

.night-tabs label:hover span span,
.night-tabs input:checked+label span span,
.night-tabs-color-default label:hover span span,
.night-tabs-color-default input:checked+label span span {
    background: #212121;
    border-radius: 5px;
}


/*------------------------------------*\
    #VERTICAL POSITIONS
\*------------------------------------*/

/* ->>> General Styles <<<-*/

.night-tabs-position-vleft .night-tabs-content > li,
.night-tabs-position-vright .night-tabs-content > li {
    border-top: 0;
    width: auto;
}
.night-tabs-position-vleft > label,
.night-tabs-position-vright > label {
    clear: left;
    display: block;
    float: left;
    margin-right: 0;
    width: 25%
}

/* ->>> Vertical Left <<<-*/

.night-tabs-position-vleft label {
    border-right: 2px solid #333
}
.night-tabs-position-vleft > .night-tabs-content {
    margin-left: 25%;
    width: auto;
}


/*------------------------------------*\
    #GENERAL STYLES
\*------------------------------------*/

.night-tabs>.content1:checked~ul>.content1,
.night-tabs>.content2:checked~ul>.content2,
.night-tabs>.content3:checked~ul>.content3,
.night-tabs>.content4:checked~ul>.content4 {
    /* Structure */
    opacity: 1;
    visibility: visible;
    border-radius: 0px 0px 5px 5px;
    /* CSS3 */
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}


/*------------------------------------*\
    #BASIC TYPOGRAPHY
\*------------------------------------*/

/* ->>> Headings <<<-*/
h1, h2, h3 { margin: 0; padding: 0 }

.night-tabs .night-tabs-content li .h1,
.night-tabs .night-tabs-content li .h2,
.night-tabs .night-tabs-content li .h3 {
    font-weight: 300;
    line-height: 1.5
}
.night-tabs .night-tabs-content li .h1 {font-size: 3em}
.night-tabs .night-tabs-content li .h2 {font-size: 2.2em}
.night-tabs .night-tabs-content li .h3 {font-size: 1.4em}

/* ->>> Paragraphs <<<-*/
.night-tabs .night-tabs-content li p {
    margin: .5em 0;
    font-size: 1em
}

/* ->>> Links <<<-*/
.night-tabs .night-tabs-content li a {color: #ecf0f1}

.night-tabs .night-tabs-content li a:hover,
.night-tabs .night-tabs-content li a:focus {text-decoration: none}

/* ->>> FontAwesome <<<-*/
.night-tabs .fa { margin-right: .5em }


/*------------------------------------*\
    #EXTENDED TYPOGRAPHY
\*------------------------------------*/

/* ->>> Images <<<-*/
.night-tabs .night-tabs-content li img {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 5px;
}

/* ->>> Lists <<<-*/
.night-tabs .night-tabs-ordered-list,
.night-tabs .night-tabs-unordered-list {
    margin-top: .3em;
    padding-left: 2.5em
}
.night-tabs .night-tabs-ordered-list {list-style: decimal}
.night-tabs .night-tabs-unordered-list { list-style: disc}

/* ->>> Utility <<<-*/

/* Positioning */
.text-center {text-align: center}
.text-left {text-align: left}
.text-right {text-align: right}
.pull-left {float: left}
.pull-right {float: right}

/* Preformatted */
.dropcap {
	float: left;
	font-size: 5em;
	line-height: .8;
	}
	
.blockquote {
  margin: 1em;
  padding: 0 0 0 1em;
  border-left: 3px solid #ecf0f1
}

.well {
    background: #555;
    padding: 1em!important
}

/*------------------------------------*\
    #GRID SYSTEM
\*------------------------------------*/

/* ->>> Micro-Clearfix <<<-*/
.night-tabs .grid-row:after {
    content: '';
    display: table;
    clear: both
}

/* ->>> Basic Structure <<<-*/
.night-tabs .grid-row {margin-top: 1em}
.night-tabs .grid-row:first-child {margin-top: 0}

.night-tabs .grid-column {
    display: block;
    float: left;
    width: 100%;
    margin-left: 2%
}
.night-tabs .grid-column:first-child { margin-left: 0}

/* ->>> Grid System Config <<<-*/
.night-tabs .grid-column-1 {width: 6.5%}
.night-tabs .grid-column-2 {width: 15%}
.night-tabs .grid-column-3 {width: 23.5%}
.night-tabs .grid-column-4 {width: 32%}
.night-tabs .grid-column-5 {width: 40.5%}
.night-tabs .grid-column-6 {width: 49%}
.night-tabs .grid-column-7 {width: 57.5%}
.night-tabs .grid-column-8 {width: 66%}
.night-tabs .grid-column-9 {width: 74.5%}
.night-tabs .grid-column-10 {width: 83%}
.night-tabs .grid-column-11 {width: 91.5%}


.night-tabs .grid-column-offset-1,
.night-tabs .grid-column-offset-1:first-child{margin-left:8.5%}
.night-tabs .grid-column-offset-2,
.night-tabs .grid-column-offset-2:first-child{margin-left:17%}

.night-tabs .grid-column-offset-3,
.night-tabs .grid-column-offset-3:first-child{margin-left:25.5%}

.night-tabs .grid-column-offset-4,
.night-tabs .grid-column-offset-4:first-child{margin-left:34%}

.night-tabs .grid-column-offset-5,
.night-tabs .grid-column-offset-5:first-child{margin-left:42.5%}

.night-tabs .grid-column-offset-6,
.night-tabs .grid-column-offset-6:first-child{margin-left:51%}

.night-tabs .grid-column-offset-7,
.night-tabs .grid-column-offset-7:first-child{margin-left:59.5%}

.night-tabs .grid-column-offset-8,
.night-tabs .grid-column-offset-8:first-child{margin-left:68%}

.night-tabs .grid-column-offset-9,
.night-tabs .grid-column-offset-9:first-child{margin-left:76.5%}

.night-tabs .grid-column-offset-10,.night-tabs .grid-column-offset-10:first-child{margin-left:85%}
.night-tabs .grid-column-offset-11,.night-tabs .grid-column-offset-11:first-child{margin-left:93.5%}


/*------------------------------------*\
    #RESPONSIVE STACKING
\*------------------------------------*/

@media screen and (max-width: 48em) {
    .night-tabs .grid-column,
    .night-tabs .grid-column:first-child {
        float: none;
        width: 100%;
        margin: 1em 0 0 0
    }
    .night-tabs > label {
        display: block;
        float: none;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        text-align: left;
        margin: 0
    }
    .night-tabs > .night-tabs-content {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0
    }
    .night-tabs > .night-tabs-content > li {
        -webkit-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        transform-origin: 50% 0%
    }
    .night-tabs.night-tabs-animation-flip > ul > li {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg)
    }
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  padding: 10px;
  background: #1e8bc3;
  font: 1.2em/1.5 "Open Sans";
  color: #ecf0f1;
  text-decoration: none
}
#forkme_banner .fa { margin-left: .3em; font-size: 2em}